<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админисраторы IMDB</title>
</head>
<body>
    <h1>Админисраторы IMDB</h1>
    {% for user in users %}
        <div>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p><strong>Логин:</strong> {{ user.username }}</p>
            <p><strong>Роль:</strong> Администратор</p>
            <p><strong>Последнее появление на сайте:</strong> {{ user.date_joined }}</p>
            <p><strong>Статус:</strong> Активен</p>
        </div>
    {% endfor %}
</body>
</html>